{% load static %}
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
      aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="/">Money<span class="color-b">Talks</span></a>
    <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
      data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
          {% if user.id %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile/">Profile</a>
                <a class="dropdown-item" href="/events/">Prior Participations</a>
                <a class="dropdown-item" href="/bets/">My Bets</a>
                <a><hr class="dropdown-divider"></a>
                <a class="dropdown-item" href="/logout/">Logout</a>
              </div>
            </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login/">LOGIN</a>
              </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/">Current Events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/previousEvents/">Previous Events</a>
        </li>
      </ul>
    </div>
  <form class="d-flex" method="post" action="/search/">
        {% csrf_token %}
        {{ search }}
        <button type="submit" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
          data-target="#navbarTogglerDemo01" aria-expanded="false">
          <span class="fa fa-search" aria-hidden="true"></span>
        </button>
  </form>
  </div>
</nav>