<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      {% if user.id %}
       <a class="navbar-brand dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           {{ user.username }}
       </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile/">Profile</a></li>
            <li><a class="dropdown-item" href="/events/">Prior Participations</a></li>
            <li><a class="dropdown-item" href="/bets/">My Bets</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
      {% else %}
          <a class="navbar-brand" href="/login">LOGIN</a>
      {% endif %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Current Events</a>
        </li>
          <li>
              <a class="nav-link active" aria-current="page" href="/previousEvents/">Previous Events</a>
          </li>
      </ul>
      <form class="d-flex" method="post" action="/search/">
          {% csrf_token %}
          {{ search }}
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>