{% extends "base.html" %}
{% block content %}
    <h1 style="text-align: center;">{{ event.description }}</h1>
    <h4 style="text-align: center;"><strong>{{ event.event_type }}</strong></h4>
    <h5 style="text-align: center;"><strong>{{event.event_date}} {{ event.event_time }}</strong></h5>
    {% if group_list %}
        <p><br></p>
        <div class="row">
		    {% for group in group_list %}
		    	<div class="col" style="margin:auto;background-color:#e7e6ce;text-align:center;" >
		    		<ul style="list-style-type:none;">
		    			<p style="position:relative;font-size:25px"><strong>{{group.group_name}}</strong></p>
                    {% if event.active %}
                        {% if not participated %}
                            <form action="/event/join/{{ group.id }}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary">JOIN GROUP</button>
                            </form>
                        {% elif user in group.member.all  %}
                            <form action="/event/leave/{{ group.id }}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">LEAVE GROUP</button>
                            </form>
                        {% endif %}
                    {% endif %}
		    		{% for person in group.member.all %}
		    			<li style="margin:1%;">{{person.username}}</li>
		    		{%endfor%}
		    		<li style="font-size:20px;"><strong><u>Betting</u></strong></li>
		    		<li>{{group.group_bet_amount}} {{group.group_bet}}</li>
		    		</ul>
                    {% for bet in bet_list %}
                        {% ifequal bet.betting_on group %}
                            <ul style="list-style-type: none">
                                <li><strong>{{ bet.better.username }}</strong></li>
                                <li>{{ bet.amount }} {{ bet.item }}</li>
                                {% ifequal user bet.better %}
                                    <form method="post" action="/removeBet/{{ bet.id }}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-danger" type="submit">
                                            REMOVE BET
                                        </button>
                                    </form>
                                {% endifequal %}
                            </ul>
                        {% endifequal %}
                    {% endfor %}
                {% if event.active %}
                    {% if not participated %}
                        <ul style="list-style-type: none">
                            <li>
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#betting_on_group_modal" >BET ON A GROUP</button>
                                <div class="modal fade" id="betting_on_group_modal" tabindex="-1" aria-labelledby="betting_on_group_modal_label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <form action="/addBet/{{ group.id }}" method="post">
                                                {% csrf_token %}
                                                {{ betting_on_group_form.as_p }}
                                                <button type="submit" class="btn btn-primary">Bet On Group</button>
                                              </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
		    	</div>
		    {%endfor%}
        </div>
    {% endif %}
    {% if event.active %}
        {% if not participated %}
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#group_adding_modal" style="width:100%">ADD A GROUP</button>
            <div class="modal fade" id="group_adding_modal" tabindex="-1" aria-labelledby="group_adding_modal_label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/addGroup/{{ event.id }}" method="post">
                            {% csrf_token %}
                            {{ group_adding_form.as_p }}
                            <button type="submit" class="btn btn-primary">Add Group</button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                        </div>
                    </div>
                </div>
            </div>
        {% elif not user.id%}
            <form action="/login/" method="get">
                <button type="submit" class="btn btn-success" style="width:100%">LOGIN TO ADD A GROUP</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}