{% extends "base.html" %}
    {% block head %}
    {% endblock %}
    {% block content %}
		{% if event_list %}
			{% for event in event_list %}
                {% if event.active == var_active %}
				<div class="events" style="background-color:#f2d8cc;">
					<div class="row">
                        <a href="event/{{event.id}}"><h2 style="position:relative;text-align:center;background-color:#c7e3d0;font-size:31px">{{event.description}}</h2></a>
						<!--<button type="button" class="btn btn-primary" style="float:right;">Add Group</button>-->
						</h2>
						{% for group in group_list %}
							{% ifequal group.event_id event %}
							<div class="col" style="margin:auto;background-color:#e7e6ce;text-align:center;" >
								<ul style="list-style-type:none;">
									<p style="position:relative;font-size:25px"><strong>{{group.group_name}}</strong></p>
								{% for person in group.member.all %}
									<li style="margin:1%;">{{person.username}}</li>
								{%endfor%}
								<!--<li style="margin:2%;"><button type="button" class="btn btn-success" style="float:center;">Join {{group.group_name}}</button></li>-->
								<li style="font-size:20px;"><strong><u>Betting</u></strong></li>
								<li>{{group.group_bet_amount}} {{group.group_bet}}</li>
								</ul>
							</div>
							{%endifequal%}
						{%endfor%}
					</div>
				</div>
				<p><br></p>
                {% endif %}
			{%endfor%}
		{% else %}
			<p style="text-align:center"><strong>No events are available.</strong></p>
		{% endif %}
        {% if user.id %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#denemeModal" style="width:100%">CREATE A NEW EVENT</button>
        <div class="modal fade" id="denemeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/addEvent/" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                          <button type="submit" class="btn btn-primary">Add Event</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <form action="/login/" method="get">
                <button type="submit" class="btn btn-success" style="width:100%">LOGIN TO CREATE AN EVENT</button>
            </form>
        {% endif %}
    {% endblock %}