{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">{{ event.description }}</h1>
                    <span class="color-text-a">{{ event.event_type }}</span>
                </div>
            </div>
        </div>
    </div>
    <section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="row justify-content-between">
              {% for group in group_list %}
                <div class="col">
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d" {% ifequal group event.winner %}style="color: darkgoldenrod" {% else %} style="color: red" {% endifequal %}>{{ group.group_name }}</h3>
                        {% ifequal group event.winner %}
                            <h5>WON</h5>
                            {% for key,value in group.calculate_winnings.items %}
                              <h5>{{ value }}x {{ key }}</h5>
                                {% endfor %}
                      {% else %}
                            <h5>LOST</h5>
                            <h5>{{ group.group_bet_amount }}x {{ group.group_bet }}</h5>
                      {% endifequal %}
                      </div>
                    </div>
                    {% if not event.finalized and user == event.creator %}
                            <form action="/event/pickWinner/{{ group.id }}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary">WINNER</button>
                            </form>
                    {% endif %}
                  </div>
                  <div class="box-comments">
                    <ul class="list list-comments">
                      <li>
                        <h3>Members</h3>
                      </li>
                        {% for member in group.member.all %}
                            <li>
                                <div class="comment-avatar">
                                    <img src="{% static STATIC_URL %} {{ member.profile.picture }}" height="50" width="50">
                                </div>
                                <div class="comment-details">
                                    <h4 class="comment-author" {% ifequal group event.winner %}style="color: darkgoldenrod" {% else %} style="color: red" {% endifequal %}>{{ member.username }}</h4>
                                </div>
                            </li>
                  {% endfor %}
                  {% for bet in bet_list %}
                        {% ifequal bet.betting_on group %}
                            <h4>Betters</h4>
                                <li>
                                    <div class="comment-avatar">
                                        <img src="{% static STATIC_URL %} {{ bet.better.profile.picture }}" height="50" width="50">
                                    </div>
                                <div class="comment-details">
                            {% ifequal group event.winner %}
                                    <h4 class="comment-author" style="color: darkgoldenrod" >{{ bet.better.username }}</h4>
                                    <p class="comment-description">{{ bet.winnings.1 }}x {{ bet.winnings.0 }}</p>
                                {% else %} <h4 class="comment-author" style="color: red" >{{ bet.better.username }}</h4>
                                    <p class="comment-description">{{ bet.amount }}x {{ bet.item }}</p> {% endifequal %}
                                </div>
                                </li>
                            </ul>
                        {% endifequal %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
    </div>
    </section>
{% endblock %}